<div>
  <mat-form-field>
    <input #input matInput type="text" [ngModel]="searchStr" (ngModelChange)="onModelChange($event)">
    <mat-placeholder>
      Title of movie
    </mat-placeholder>
  </mat-form-field>
  <mat-grid-list cols="5" rowHeight="4:3" gutterSize="10px">
    <mat-grid-tile *ngFor="let movie of movies" (click)="openDialog(movie)">
      <mat-grid-tile-header class="bor-tube__Movietable_tileHeader">
        {{movieService.getGenresString(movie.genre_ids)}}
      </mat-grid-tile-header>
      <img [src]="pathToPoster300(movie)">
      <mat-grid-tile-footer>
        {{movie.title}}
      </mat-grid-tile-footer>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-paginator #paginator [length]="itemsCount$"
                            [pageSize]="itemsPerPage$">
  </mat-paginator>
</div>
